<template>
  <a
    :class="['b-button', type]"
    @click="$emit('click')"
  >
    <slot />
  </a>
</template>

<script>
export default {
  name: "BButton",

  props: {
    type: {
      type: String,
      default: 'primary'
    }
  }
}
</script>

<style lang="scss">
.b-button {
  display: inline-block;
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin: 0 7px 15px;

    &.primary {
      background: #90EE90FF;
    }

    &.danger {
      background: #FF0000FF;
    }

    &.warning {
      background: #FFFF00FF;
    }

    &.secondary {
      background: #808080FF;
    }
}
</style>