<template>
  <div
    :class="['seats-item', {
      'seats-item--booked': seat.isBooked,
      'seats-item--chosen': seat.isSelected,
      'seats-item--chosen-booked': seat.isSelected && seat.isBooked,
    }]"
    @click="chooseSeat()"
    ref="seat"
  >
    {{ index }}
  </div>
</template>

<script>
export default {
  name: "SeatsItem",

  props: {
    seat: {
      type: Object,
      require: true
    },
    index: {
      type: Number,
      require: true
    }
  },

  methods: {
    chooseSeat() {
      if (!this.seat.isSelected) {
        this.seat.isSelected = true;
        this.$emit('chooseItem', {
          seat: this.seat,
          position: this.index - 1,
          action: 'select'
        })
        return;
      }

      this.seat.isSelected = false;
      this.$emit('chooseItem', {
        seat: this.seat,
        position: this.index - 1,
        action: 'unselect'
      })
    }
  }
}
</script>

<style lang="scss">
.seats-item {
  border: 1px solid #000;
  margin: 7px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;

    &--chosen {
      background: #008000FF;
    }

    &--booked {
      background: #FF0000FF;
    }

    &--chosen-booked {
      background: #FFFF00FF;
    }
}
</style>