<template>
  <div class="seats-row">
    <div class="seats-row__number">
      {{ index }}
    </div>
    <div class="seats-row__items">
      <seats-item
        v-for="(item, index) in row"
        :key="index"
        :seat="item"
        :index="index + 1"
        @chooseItem="chooseItem"
      />
    </div>
  </div>
</template>

<script>
import SeatsItem from "./SeatsItem";
export default {
  name: "SeatsRow",

  components: {SeatsItem},

  props: {
    row: {
      type: Array,
      require: true
    },
    index: {
      type: Number,
      require: true
    }
  },

  methods: {
    chooseItem(item) {
      this.$emit('selectSeat', {
        ...item,
        row: this.index - 1
      })
    }
  }
}
</script>

<style lang="scss">
.seats-row {
  display: flex;
  justify-content: center;
  align-items: center;

    &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 40px;
    }

    &__number {
      width: 20px;
    }
}
</style>