<template>
  <div id="app">
    <cinema-room />
  </div>
</template>

<script>
import CinemaRoom from "./components/buisnes-components/CinemaRoom";

export default {
  name: 'App',
  components: {
    CinemaRoom
  },
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
