<template>
  <div class="cinema-room">
    <div class="cinema-room__screen" />
    <h2 class="cinema-room__title">Screen</h2>
    <hr>

    <div class="cinema-room__buttons">
      <b-button @click="processBookSeats">
        Book
      </b-button>
      <b-button
        @click="clear"
        type="danger"
      >
        Clear
      </b-button>
      <b-button
          @click="processBookSeats(false)"
          type="warning"
      >
        Unbook
      </b-button>
      <b-button
          @click="cancelSelected()"
          type="secondary"
      >
        Cancel
      </b-button>
    </div>

    <div class="cinema-room__seats">
      <seats-row
        v-for="(item, index) in seats"
        :key="index"
        :row="item"
        :index="index + 1"
        @selectSeat="selectSeat"
      />
    </div>
  </div>
</template>

<script>
import SeatsRow from "../ui-components/SeatsRow";
import BButton from "../ui-components/BButton";
import Vue from "vue";

export default {
  name: "CinemaRoom",
  components: {
    BButton,
    SeatsRow
  },
  data() {
    return {
      seats: [],
      selectedSeats: []
    }
  },

  created() {
    localStorage.getItem('savedSeats')
      ? this.seats = JSON.parse(localStorage.getItem('savedSeats'))
      : this.seats = this.setDefaultSeats();
  },

  methods: {
    processBookSeats(process = true) {
      if (this.selectedSeats.find(item => item.seat.isBooked === process)) {
        alert('Can\'t book/unbook already book/unbook items');
        return;
      }

      this.selectedSeats.forEach(item => {
        this.seats[item.row][item.position].isBooked = process;
        this.seats[item.row][item.position].isSelected = false;
      })

      this.selectedSeats = [];
      localStorage.setItem('savedSeats', JSON.stringify(this.seats))
    },

    cancelSelected() {
      this.selectedSeats.forEach(item => {
        this.seats[item.row][item.position].isSelected = false;
      })
      this.selectedSeats = [];
    },

    selectSeat(seat) {
      if (this.selectedSeats.find(item => item.seat.isBooked !== seat.seat.isBooked)) {
        this.seats[seat.row][seat.position].isSelected = false;
        return;
      }

      this.seats[seat.row][seat.position] = seat.seat;
      if (seat.action === 'unselect') {
        this.selectedSeats = this.selectedSeats.filter(item => item.seat.id !== seat.seat.id);
        return;
      }

      this.selectedSeats.push(seat);
    },

    setDefaultSeats() {
      const tempArr = [];

      for(let i = 0; i < 40; i++) {
        Vue.set(tempArr, i, [])
        for (let j = 0; j < 20; j++) {
          tempArr[i].push({
            id: `${i + 1}.${j + 1}`,
            isBooked: false,
            isSelected: false
          })
        }
      }

      return tempArr;
    },

    clear() {
      this.selectedSeats = [];
      this.seats = this.setDefaultSeats();
      localStorage.removeItem('savedSeats');
    }
  }
}
</script>

<style lang="scss">
.cinema-room {
  width: 60%;
  margin: 0 auto;

    &__screen {
      width: 90%;
      height: 15px;
      margin: 0 auto;
      border: 1px solid #000;
    }

    &__title {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
</style>